.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35A79C; /* Use the same green color from the image */
    padding: 10px;
    border-radius: 10px;
  }
  
  .header-left h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF; /* White text color */
  }
  
  .header-right span {
    font-size: 12px;
    font-weight: normal;
    color: #FFFFFF; /* White text color */
    letter-spacing: 0.1em;
    text-transform: uppercase; /* Convert to uppercase */
  }
  